body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}


nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}



.pri-color {
    color: #FD6E0A;

}

.nav-title {
    color: #474747;
    font-size: 30px;
    font-weight: 800;
}

.pri-btn {
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: 0;
    padding: 18px 30px;

}

.pri-btn a {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 2px;

}

/*headeer related style*/
.header {
    background-color: #fff8f3;
    background-image: url(images/header_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}

.banner {
    display: flex;
    padding: 30px 30px 0px 150px;
    align-items: center;
    justify-content: space-between;

}

.banner-contant {
    max-width: 600px;
}

.banner img {
    width: 500px;
    margin-right: 0;
    margin-left: 303px;
}

.banner-greeting {

    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0;

}

.banner-title {
    color: #181818;
    margin-top: 0%;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 05px;
}

.banner-desrip {
    color: #474747;
    font-size: 15px;
    font-weight: 500;
}