body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


nav>ul {
    display: flex;
    align-items: center;
    text-align: right;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
}



.pri-color {
    color: #FD6E0A;

}

.nav-title {
    color: #474747;
    font-size: 30px;
    font-weight: 800;
}

.pri-btn {
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    border: 0;

    padding: 18px 30px;

}

.pri-btn a {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 2px;

}